{% extends "auth_base.html" %}
{% load django_bootstrap5 %}
{% block body %}
    

<section class="user-form-part">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
                <div class="user-form-logo">
                    <a href="index.html"><img src="images/logo.png" alt="logo"></a>
                </div>
                {% if validlink %}
                    <div class="user-form-card">
                        <div class="user-form-title">
                            <h2>any issue?</h2>
                            <p>Please enter (and confirm) your new password</p>
                        </div>
                        <form class="user-form" method="post"> 
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <div class="form-button">
                                {% bootstrap_button button_type="submit" content="Change my password" %}
                            </div>
                        </form>
                    </div>
                {% else %}
                <div class="user-form-card">
                    <div class="user-form-title">
                        <h2> Password reset failed !</h2>
                        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
                    </div>
                </div>
                {% endif %}


                <div class="user-form-remind">
                    <p>Go Back To<a href="/accounts/login">login here</a></p>
                </div>
                <div class="user-form-footer">
                    <p>Greeny | &COPY; Copyright by <a href="#">Mironcoder</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock body %}



